# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.git/


node_modules/
.pnpm-store/
.env
/.next/
/out/

# Clacky Env Files
.1024.nix
.1024nix
.1024feature-file
.1024feature*
